.Slider {
    aspect-ratio: 16/9;
    width: 700px;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.Slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}